<div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
<%= form_for @article do |f| %>

         <div class="panel-body">
            <form class="form-horizontal ">
          <div class="form-group">
<%= f.label :title %>

            <div class="col-sm-7">
<%= f.text_field :title %>
            </div>
          </div>

<br/>

<%= f.label :content %>

<%= f.text_area :content, cols: 20, rows: 10 %>

<br/>

<%= f.label :status %>

<%= f.radio_button :status, "active" %>

<%= label :article_status, 'active' %>

<%= f.radio_button :status, "off" %>

<%= label :article_status, 'off' %>

<br/>

<%= f.submit :submit %>

<% end %>

<div>

<%= link_to "back to index", articles_path %>

</div>