<h4>
    <% if !current_user %>
        <%= link_to 'Log-in', new_session_path %>
    <% else %>
        Hello <%= current_user.username %>
        <%= link_to 'Log-out', session_path(current_user.id), method: "DELETE" %>
    <% end %>
</h4>

<p>Search <input type="text" id="search" placeholder="Search by content or title"/></p>
<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
        </tr>
    </thead>
    <tbody >
            <%= render @articles %>
    </tbody>
</table>

        <div>
            <div id="articles">
                <%= render @articles %>
            </div>
             <div class="paginate">
                <%= paginate @articles %>
            </div>   
        </div>    
        


<%= javascript_include_tag'custom' %>

<% @articles.each do |article| %>

<div class="row" col lg-10>
    <h3><%= article.title %></h3>
</div>
<p>

<%= article.content.truncate(20) %>

<%= link_to 'read more', article_path(article.id) %>

</p>

<h4>status : <%= article.status %></h4>

<p>
    <span>
        <%= link_to 'edit', edit_article_path(article.id)%>
    </span>
    <span> | </span>
    <span>
        <%= link_to 'delete', article_path(article.id), method: "DELETE", data: {confirm: 'Delete this data ?'} %>
    </span>
    
</p>

<hr/>
<% end %>