<link href="css/bootstrap.min.css" rel="stylesheet">
<div class="container">
<h3><%= @article.title %></h3>

<p><%= @article.content %></p>

<p><%= link_to 'back to index', articles_path %></p>
     <div id="form-comment">

        <%= render 'form' %>

    </div>


    <h4>Here the comments</h4>


    <div id="list-comments">

        <%= render 'comments' %>

    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/javascripts/jquery-3.1.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/javascripts/bootstrap.min.js"></script>